.root {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &._wide {
    flex: 1;
  }

  &.grey {
    background-color: var(--color-grey);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-grey-hover);
    }

    &:active {
      background-color: var(--color-grey-active);
    }
  }

  &.orange {
    background-color: var(--color-orange);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-orange-hover);
    }
    &:active {
      background-color: var(--color-orange-active);
    }
  }

  &.white {
    background-color: var(--color-white);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-white-hover);
    }
    &:active {
      background-color: var(--color-white-active);
    }
  }

  &.black {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-black-hover);
    }
    &:active {
      background-color: var(--color-black-active);
    }
  }
}
