.link {
  color: var(--color-grey);
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-grey-hover);
  }
  &:active {
    color: var(--color-grey-active);
  }
}

/* Error message in forms */
.errorText {
  color: var(--color-error);
}
