@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "./common.css";
@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  display: flex;
}

body {
  display: flex;
  flex: 1;
  scroll-behavior: smooth;
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Два селектора ниже нужны для отображения фрейма сторибука во весь рост */
.sb-main-fullscreen.sb-show-main {
  display: flex;
}

#storybook-root {
  display: flex;
  flex: 1;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

img,
picture,
svg,
video,
canvas {
  font-style: italic;
}

img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}
